.containerHome {
    width: 600px;
    margin: 0 auto;
}

h3 {
    font-size: 35px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

    button {
        height: 35px;
        border: none;
        outline: none;
        border-radius: 8px;
        font-size: 18px;
    }
}